{{.Header}}



<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Current Status / এখনকার অবস্থা</h3>
            </div>
        </div>

        <div class="x_panel">
            <div class="clearfix"></div>
            <div class="row x_title">
                <div class="col-md-6">
                    <h3>Today <small>until now</small></h3>
                </div>
            </div>
            <div class="row tile_count">
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-barcode"></i> Booklets check in</span>
                    <div class="count">{{.Registered}}</div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-inbox"></i> Batch creation</span>
                    <div class="count">{{.InBatch}}</div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-scissors"></i> Cutting station</span>
                    <div class="count">{{.InCuttingStation}}</div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-unlink"></i> Pre-scanning</span>
                    <div class="count">{{.InPreScanning}}</div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-print"></i> Scanning</span>
                    <div class="count">{{.InScanning}}</div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-archive"></i> Archiving</span>
                    <div class="count">{{.Archived}}</div>
                </div>
            </div>
        </div>

        <div class="x_panel">
            <div class="row x_title">
                <div class="col-md-6">
                    <h3>Yesterday <small>total day</small></h3>
                </div>
            </div>
            <div class="row tile_count">
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-barcode"></i> Booklets check in</span>
                    <div class="count">{{.RegisteredYesterday}}</div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-inbox"></i> Batch creation</span>
                    <div class="count">{{.InBatchYesterday}}</div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-scissors"></i> Cutting station</span>
                    <div class="count">{{.InCuttingStationYesterday}}</div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-unlink"></i> Pre-scanning</span>
                    <div class="count">{{.InPreScanningYesterday}}</div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-print"></i> Scanning</span>
                    <div class="count">{{.InScanningYesterday}}</div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-archive"></i> Archiving</span>
                    <div class="count">{{.ArchivedYesterday}}</div>
                </div>
            </div>
        </div>

        <div class="x_panel">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="dashboard_graph">
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <div class="x_title">
                                        <h2>Production history</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div id="chartContainer" class="demo-placeholder"></div>
                                    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
                                    <script>
                                        window.onload = function () {

                                            var registered = [];
                                            var inBatch = [];
                                            var cut = [];
                                            var prepared = [];
                                            var scann = [];
                                            var archived = [];

                                            var chart = new CanvasJS.Chart("chartContainer", {
                                                animationEnabled: true,
                                                theme: "light2",
                                                legend: {
                                                    horizontalAlign: "left", // "center" , "right"
                                                    verticalAlign: "center",  // "top" , "bottom"
                                                    fontSize: 15
                                                },
                                                axisY: {
                                                    title: "Nb Booklets",
                                                    titleFontSize: 20,
                                                    gridColor: "lightgrey",
                                                    gridThickness: 0,
                                                },
                                                toolTip: {
                                                    shared: true,
                                                    fontColor: "#4c8691"
                                                },
                                                data: [
                                                    {
                                                        type: "spline",
                                                        lineThickness: 1,
                                                        lineColor: "#4c8691",
                                                        markerColor: "#4c8691",
                                                        name: "Registered",
                                                        nameColor: "#4c8691",
                                                        yValueFormatString: "#,### Booklets",
                                                        dataPoints: registered
                                                    },
                                                    {
                                                        type: "spline",
                                                        lineThickness: 1,
                                                        lineColor: "#6bafc1",
                                                        markerColor: "#6bafc1",
                                                        name: "In Batch",
                                                        yValueFormatString: "#,### Booklets",
                                                        dataPoints: inBatch
                                                    },
                                                    {
                                                        type: "spline",
                                                        lineThickness: 1,
                                                        lineColor: "#6bc1a9",
                                                        markerColor: "#6bc1a9",
                                                        name: "Cut",
                                                        yValueFormatString: "#,### Booklets",
                                                        dataPoints: cut
                                                    },
                                                    {
                                                        type: "spline",
                                                        lineThickness: 1,
                                                        lineColor: "#8ee7a7",
                                                        markerColor: "#8ee7a7",
                                                        name: "Perpared",
                                                        nameColor: "#8ee7a7",
                                                        yValueFormatString: "#,### Booklets",
                                                        dataPoints: prepared
                                                    },
                                                    {
                                                        type: "spline",
                                                        lineThickness: 1,
                                                        lineColor: "#6db17e",
                                                        markerColor: "#6db17e",
                                                        name: "Scanned",
                                                        yValueFormatString: "#,### Booklets",
                                                        dataPoints: scann
                                                    },
                                                    {
                                                        type: "spline",
                                                        lineThickness: 1,
                                                        lineColor: "#53825f",
                                                        markerColor: "#53825f",
                                                        name: "Archived",
                                                        yValueFormatString: "#,### Booklets",
                                                        dataPoints: archived
                                                    }
                                                ]
                                            });

                                            function Registered(data) {
                                                for (var i = 0; i < data.length; i++) {
                                                    registered.push({
                                                        x: new Date(data[i].date),
                                                        y: data[i].qty
                                                    });
                                                }
                                                chart.render();
                                            }

                                            function InBatch(data) {
                                                for (var i = 0; i < data.length; i++) {
                                                    inBatch.push({
                                                        x: new Date(data[i].date),
                                                        y: data[i].qty
                                                    });
                                                }
                                                chart.render();
                                            }

                                            function Cut(data) {
                                                for (var i = 0; i < data.length; i++) {
                                                    cut.push({
                                                        x: new Date(data[i].date),
                                                        y: data[i].qty
                                                    });
                                                }
                                                chart.render();
                                            }

                                            function Prepared(data) {
                                                for (var i = 0; i < data.length; i++) {
                                                    prepared.push({
                                                        x: new Date(data[i].date),
                                                        y: data[i].qty
                                                    });
                                                }
                                                chart.render();
                                            }

                                            function Scann(data) {
                                                for (var i = 0; i < data.length; i++) {
                                                    scann.push({
                                                        x: new Date(data[i].date),
                                                        y: data[i].qty
                                                    });
                                                }
                                                chart.render();
                                            }

                                            function Archived(data) {
                                                for (var i = 0; i < data.length; i++) {
                                                    archived.push({
                                                        x: new Date(data[i].date),
                                                        y: data[i].qty
                                                    });
                                                }
                                                chart.render();
                                            }

                                            $.getJSON("/reporting/registered_stats", Registered);
                                            $.getJSON("/reporting/inbatch_stats", InBatch);
                                            $.getJSON("/reporting/cut_stats", Cut);
                                            $.getJSON("/reporting/prepared_stats", Prepared);
                                            $.getJSON("/reporting/scann_stats", Scann);
                                            $.getJSON("/reporting/archived_stats", Archived);
                                        }
                                    </script>
                                </div>
                                <div class="col-md-1 col-sm-1 col-xs-6">
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12 bg-white">
                                    <div class="x_title">
                                        <h2>Current total per stage</h2>
                                        <div class="clearfix"></div>
                                    </div>

                                    <div class="col-md-12 col-sm-12 col-xs-6">
                                        {{range .Total}}
                                            <div>
                                                <div class="">
                                                    <div class="widget_summary">
                                                        <div class="w_left w_55">
                                                            <span>{{.Status}}</span>
                                                        </div>
                                                        <div class="w_center w_55">
                                                            <div class="progress">
                                                                <div class="progress-bar bg-green" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"
                                                                     style="width: {{.Percentage}}%;">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="w_right w_20">
                                                            <span>{{.Count}}</span>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        {{end}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="x_panel">
            <div class="clearfix"></div>
            <div class="col-md-8 col-sm-8 col-xs-6">
                <div class="x_title">
                    <h2>Overall top 3 performer per action type</h2>
                    <div class="clearfix"></div>
                </div>
                <table id="table" class="table table-striped">
                    <thead>
                    <tr>
                        <th>Action</th>
                        <th>Operator</th>
                        <th>Total</th>
                    </tr>
                    </thead>
                    <tbody>

                    {{$register := index .TopPerformer "register"}}
                    <tr>
                        <td rowspan="{{ len $register}}">Register booklet</td>
                        {{range $v := $register}}
                        <td>{{$v.Operator}}</td>
                        <td>{{$v.Total}}</td>
                    </tr>
                    {{end}}

                    {{$inBatch := index .TopPerformer "addInBatch"}}
                    <tr>
                        <td rowspan="{{ len $inBatch}}">Add in Batch</td>
                        {{range $v := $inBatch}}
                        <td>{{$v.Operator}}</td>
                        <td>{{$v.Total}}</td>
                    </tr>
                    {{end}}

                    {{$inCuttingStation := index .TopPerformer "moveToCuttingStation"}}
                    <tr>
                        <td rowspan="{{ len $inCuttingStation}}">Move to cutting station</td>
                        {{range $v := $inCuttingStation}}
                        <td>{{$v.Operator}}</td>
                        <td>{{$v.Total}}</td>
                    </tr>
                    {{end}}

                    {{$preScanning := index .TopPerformer "moveToPreScanning"}}
                    <tr>
                        <td rowspan="{{ len $preScanning}}">Move to prescanning</td>
                        {{range $v := $preScanning}}
                        <td>{{$v.Operator}}</td>
                        <td>{{$v.Total}}</td>
                    </tr>
                    {{end}}

                    {{$scanning := index .TopPerformer "moveToScanStation"}}
                    <tr>
                        <td rowspan="{{ len $scanning}}">Move to scanning station</td>
                        {{range $v := $scanning}}
                        <td>{{$v.Operator}}</td>
                        <td>{{$v.Total}}</td>
                    </tr>
                    {{end}}

                    {{$archiving := index .TopPerformer "archive"}}
                    <tr>
                        <td rowspan="{{ len $archiving}}">Move to archive</td>
                        {{range $v := $archiving}}
                        <td>{{$v.Operator}}</td>
                        <td>{{$v.Total}}</td>
                    </tr>
                    {{end}}
                    </tbody>
                </table>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-6">
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="x_title">
                    <h2>Overall total per stage</h2>
                    <div class="clearfix"></div>
                </div>
                {{range .OverallTotal}}
                    <div>
                        <div class="">
                            <div class="widget_summary">
                                <div class="w_left w_55">
                                    <span>{{.Status}}</span>
                                </div>
                                <div class="w_center w_55">
                                    <div class="progress">
                                        <div class="progress-bar bg-green" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"
                                             style="width: {{.Percentage}}%;">
                                        </div>
                                    </div>
                                </div>
                                <div class="w_right w_20">
                                    <span>{{.Count}}</span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                {{end}}
            </div>
        </div>
    </div>
</div>

{{.Footer}}