{{.Header}}
<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Production tracking system</h3>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_content">
                    <br/>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Production process<small>Quick introduction</small></h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <ul class="list-inline timeline">
                                    <li>
                                        <div class="block">
                                            <div class="tags">
                                                <a href="" class="tag">
                                                    <span>Step 1</span>
                                                </a>
                                            </div>
                                            <div class="block_content">
                                                <h2 class="title">
                                                    <a>Booklet checking</a>
                                                </h2>
                                                <div class="byline">
                                                    <span>Booklet number and GEO registration</span>
                                                </div>
                                                <p class="excerpt">New booklets will be registered in the system by typing their <strong>Booklet Number</strong> and <strong>GEO code</strong> values.
                                                    <br>The Booklet Number his unique, if you try to record twice the same, an error will be raised.
                                                </p>
                                                <div class="byline">
                                                    <span>বুকলেট নম্বর এবং জিইও নিবন্ধকরণ</span>
                                                </div>
                                                <p>
                                                    নতুন বুকলেটগুলি তাদের বুকলেট নম্বর এবং জিও কোড মান টাইপ করে সিস্টেমে নিবন্ধিত হবে।<br>
                                                    বুকলেট নম্বরটি তার অনন্য, আপনি যদি একইরকম দু'বার রেকর্ড করতে চেষ্টা করেন তবে একটি ত্রুটি উত্থাপিত হবে।
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="block">
                                            <div class="tags">
                                                <a href="" class="tag">
                                                    <span>Step 2</span>
                                                </a>
                                            </div>
                                            <div class="block_content">
                                                <h2 class="title">
                                                    <a>Batch creation</a>
                                                </h2>
                                                <div class="byline">
                                                    <span>Crate and shelf registration</span>
                                                </div>
                                                <p class="excerpt">At this stage, you will create batches of booklets.<br>
                                                    Basically, 10 booklets will be stored per create, independently from the size of booklets.<br>
                                                    100 sheets booklets can be merged with 50 and/or 25 sheets booklets.
                                                </p>
                                                <div class="byline">
                                                    <span>ক্রেট এবং শেল্ফ রেজিস্ট্রেশন</span>
                                                </div>
                                                <p class="excerpt">এই পর্যায়ে, আপনি পুস্তিকাগুলির ব্যাচগুলি তৈরি করবেন। মূলত, পুস্তিকা আকার থেকে স্বাধীনভাবে 10 টি পুস্তিকা সংরক্ষণ করা হবে।<br>
                                                    100 টি শিট বুকলেটগুলি 50 এবং / অথবা 25 টি শিটের পুস্তিকাতে মার্জ করা যায়।
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="block">
                                            <div class="tags">
                                                <a href="" class="tag">
                                                    <span>Step 3</span>
                                                </a>
                                            </div>
                                            <div class="block_content">
                                                <h2 class="title">
                                                    <a>Cutting station</a>
                                                </h2>
                                                <div class="byline">
                                                    <span>Split booklets to sheets</span>
                                                </div>
                                                <p class="excerpt">You will captures the crate number and a control is applied to check if yes or no, the booklet is available for cutting.<br>
                                                    In case of issues, the operator needs to investigate to find the reason of the issue.
                                                </p>
                                                <div class="byline">
                                                    <span>বুকলেটগুলিকে শীটে বিভক্ত করুন</span>
                                                </div>
                                                <p class="excerpt">আপনি ক্রেট নম্বরটি ক্যাপচার করবেন এবং হ্যাঁ বা না, পুস্তিকাটি কাটার জন্য উপলব্ধ কিনা তা পরীক্ষা করার জন্য একটি নিয়ন্ত্রণ প্রয়োগ করা হবে।<br>
                                                    সমস্যাগুলির ক্ষেত্রে অপারেটরকে সমস্যার কারণ অনুসন্ধান করার জন্য তদন্ত করতে হবে।
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="block">
                                            <div class="tags">
                                                <a href="" class="tag">
                                                    <span>Step 4</span>
                                                </a>
                                            </div>
                                            <div class="block_content">
                                                <h2 class="title">
                                                    <a>Pre-scanning</a>
                                                </h2>
                                                <div class="byline">
                                                    <span>Remove pages that have not to be scanned</span>
                                                </div>
                                                <p class="excerpt">In this task, you will removes from the booklets, the invaluable pages as the tables and enumerator instructions.<br>
                                                    The empty Questionnaires will remain part of the booklet and need to be scanned.
                                                </p>
                                                <div class="byline">
                                                    <span>স্ক্যান করতে হবে না এমন পৃষ্ঠাগুলি সরান</span>
                                                </div>
                                                <p class="excerpt">এই কার্যক্রমে আপনি পুস্তিকা থেকে সারণী এবং গণকের নির্দেশাবলী হিসাবে অমূল্য পৃষ্ঠাগুলি সরিয়ে ফেলবেন।<br>
                                                    খালি প্রশ্নাবলিগুলি পুস্তিকার অংশ থাকবে এবং স্ক্যান করা দরকার।
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="block">
                                            <div class="tags">
                                                <a href="" class="tag">
                                                    <span>Step 5</span>
                                                </a>
                                            </div>
                                            <div class="block_content">
                                                <h2 class="title">
                                                    <a>Scanning</a>
                                                </h2>
                                                <div class="byline">
                                                    <span>Scan pages</span>
                                                </div>
                                                <p class="excerpt">During the scanning task, you will handles and scan the booklets from crate by crate.<br>
                                                    The crate is the unit of scanning. Ensure that the booklet/crate/shelf was not already scanned.<br>
                                                    Then scan the booklet according the rules and instructions related to the scanner.
                                                </p>
                                                <div class="byline">
                                                    <span>পৃষ্ঠাগুলি স্ক্যান করুন</span>
                                                </div>
                                                <p class="excerpt">স্ক্যানিং কার্যের সময়, আপনি ক্রেট থেকে ক্রেট থেকে পুস্তিকাটি পরিচালনা করেন এবং স্ক্যান করবেন। <br>
                                                    ক্রেট স্ক্যানিংয়ের একক। বুকলেট / ক্রেট / তাকটি ইতিমধ্যে স্ক্যান করা হয়নি তা নিশ্চিত করুন।<br>
                                                    তারপরে স্ক্যানার সম্পর্কিত নিয়ম এবং নির্দেশাবলী অনুসারে পুস্তিকাটি স্ক্যান করুন।
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="block">
                                            <div class="tags">
                                                <a href="" class="tag">
                                                    <span>Step 6</span>
                                                </a>
                                            </div>
                                            <div class="block_content">
                                                <h2 class="title">
                                                    <a>Archiving</a>
                                                </h2>
                                                <div class="byline">
                                                    <span>Archive pages</span>
                                                </div>
                                                <p class="excerpt">After scanning, and when all the booklets from the shelf are entirely scanned,
                                                    the shelf is moved to the Archiving section team <br>
                                                    which will prepare the scanned booklets for long term archiving.<br>
                                                    At the end of this step, Crates and shelves will be able to be reused <strong>at step 2</strong>.
                                                </p>
                                                <div class="byline">
                                                    <span>সংরক্ষণাগার পৃষ্ঠাগুলি</span>
                                                </div>
                                                <p class="excerpt">স্ক্যান করার পরে এবং যখন বালুচর থেকে সমস্ত বুকলেট পুরোপুরি স্ক্যান করা হয় তখন শেল্ফটি সংরক্ষণাগার বিভাগের দলে স্থানান্তরিত করা হয়<br>
                                                    যা দীর্ঘমেয়াদী সংরক্ষণাগারের জন্য স্ক্যান করা পুস্তিকা প্রস্তুত করবে। এই পদক্ষেপের শেষে, ক্রেটস এবং তাকগুলি দ্বিতীয় ধাপে পুনরায় ব্যবহার করতে সক্ষম হবে।
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->

{{.Footer}}