{{.Header}}
<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>GeoCode Update / জিওকোড আপডেট</h3>
            </div>
        </div>

        <div class="clearfix"></div>
        <form id="batch-creation" data-parsley-validate class="form-horizontal right" method="post">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Search<small> and update /অনুসন্ধান এবং আপডেট</small></h2>
                            <div class="clearfix"></div>
                        </div>

                        <div class="x_content">
                            <br/>
                            <form id="bar-code-generation" data-parsley-validate class="form-horizontal form-label-left">
                                <div class="form-group remove-empty-values">
                                    <div class="col-md-2 col-sm-2 col-xs-12"></div>
                                    <label class="control-label col-md-2 col-sm-2 col-xs-2">TallySheet #
                                        <br><small class="text-navy">টেলিশিট নম্বর</small></label>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <input type="text"
                                               name="BookletNumber"
                                               class="form-control"
                                               data-inputmask="'mask' : '999.999'"
                                               pattern="\d{3}.\d{3}"
                                               id="BookletNumber"
                                               autocomplete="chrome-off"
                                               value="{{.BookletNumber}}"
                                        />
                                    </div>
                                </div>

                                <div class="form-group remove-empty-values">
                                    <div class="col-md-2 col-sm-2 col-xs-12"></div>
                                    <label class="control-label col-md-2 col-sm-2 col-xs-2">Current geocode
                                        <br><small class="text-navy">বর্তমান জিওকোড</small></label>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <input type="text"
                                               name="CurrentGeocode"
                                               class="form-control"
                                               data-inputmask="'mask' : '99.99.999.999.999.9'"
                                               pattern="\d{2}.\d{2}.\d{3}.\d{3}.\d{3}.\d{1}"
                                               id="CurrentGeocode"
                                               autocomplete="chrome-off"
                                               value="{{.CurrentGeocode}}"
                                        />
                                    </div>
                                </div>

                                <div class="form-group remove-empty-values">
                                    <div class="col-md-2 col-sm-2 col-xs-12"></div>
                                    <label class="control-label col-md-2 col-sm-2 col-xs-2">New geocode
                                        <br><small class="text-navy">নতুন জিওকোড</small></label>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <input type="text"
                                               name="NewGeocode"
                                               class="form-control"
                                               data-inputmask="'mask' : '99.99.999.999.999.9'"
                                               pattern="\d{2}.\d{2}.\d{3}.\d{3}.\d{3}.\d{1}"
                                               id="NewGeocode"
                                               autocomplete="chrome-off"
                                               value="{{.NewGeocode}}"
                                        />
                                    </div>
                                </div>

                                {{.UpdateResult}}
                                {{.Alert}}

                                <div class="ln_solid"></div>

                                <div class="form-group">
                                    <div class="col-md-2 col-sm-2 col-xs-12 col-md-offset-5">
                                        <button class="btn btn-primary" type="reset">Reset</button>
                                        <button type="submit" class="btn btn-success">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Modal Dialog -->
<div class="modal fade" id="confirm-freeze" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Confirm Freeze</h4>
            </div>
            <div class="modal-body">
                <p>You are about to freeze<b><i class="title"></i></b> booklet.</p>
                <p>This can be not reverted.</p>
                <p>Do you want to proceed?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger btn-ok">Freeze</a>
            </div>
        </div>
    </div>
</div>

<!-- /page content -->

{{.Footer}}